.container {
    font-family: Circe;
    font-size: 17px;
    font-weight: 700;
    color: #c6007f;

    background: transparent;
    border: 2px solid #c6007f;
    min-height: 64px;
    border-radius: 30px;
    padding: 0 40px;
}