.container {
    min-height: 115px;
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.number {
    width: 58px;
    height: 58px;
    border: 1px solid #c6007f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Circe;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 300;
    color: #c6007f;
}

.info {
    margin-right: auto;

    .label {
        font-family: Circe;
        font-size: 17px;
        line-height: 1.2;
        font-weight: 400;
        color: #909090;
    }

    .value {
        font-family: Circe;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
        color: #333333;
    }
}

.box {
    flex-basis: 20%;
}

.description {
    font-family: Circe;
    font-size: 17px;
    font-weight: 400;
    color: #333333;
}

.price {
    font-family: Circe;
    font-weight: 400;
    color: #333333;
    font-size: 24px;

}

.edit {
    cursor: pointer;
}