.container {
    background-image: url(../../assets/background.jpg);
    background-size: cover;

    h1 {
        font-family: Circe;
        font-size: 64px;
        line-height: 1.2;
        font-weight: 300;
        color: #333333;
        max-width: 540px;

        @media (max-width:500px) {
            font-size: 32px;
        }
    }
}



.body {
    margin: auto;
    width: 100%;
}