.container {
    color: black;
}

.h1 {
    font-family: Circe;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 300;
    color: #c6007f;

    @media (max-width:500px) {
        font-size: 32px;
    }
}

.p {
    font-family: Circe;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.04em;
    color: #000000;
}

.cities {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eaeaea;
        min-height: 64px;
        border-radius: 30px;

        font-family: Circe;
        font-size: 17px;
        line-height: 1.2;
        font-weight: 400;
        color: #333333;

        cursor: pointer;

        &:first-child {
            grid-column-start: 0;
            grid-column-end: 3;
        }

        &:hover {
            border-color: #c6007f;
        }

        &.active {
            background-color: #c6007f;
            border-color: #c6007f;
            color: #ffffff;
        }
    }

    @media (max-width:1000px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width:500px) {
        grid-template-columns: 1fr;
    }
}

.appear {}

.appearActive {}

.appearDone {}

.enter {
    opacity: 0;
    transform: translateX(-100%);

    &.revers {
        transform: translateX(100%);
    }
}

.enterActive {
    opacity: 1;
    transform: translateX(0%);
    transition: 200ms;

    &.revers {
        transform: translateX(0%);
    }

}

.enterDone {}

.exit {
    opacity: 1;
    transform: translateX(0%);
}

.exitActive {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 200ms, transform 200ms;

    &.revers {
        transform: translateX(-100%);
    }
}

.exitDone {}