.container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    @media (min-width:500px) {
        >:first-child {
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }

    @media (max-width:500px) {
        grid-template-columns: 1fr;
    }

}